<% @films.each do |film| %>
  <div class="row">
    <div class="card mx-auto">
      <div class="card-body">
        <h5 class="card-title"><%= film.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= film.runtime %> minutes</h6>
        <iframe width="560"
          height="315"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
          src="https://www.youtube.com/embed/<%= film.external_id %>">
        </iframe>
        <% if current_user && (film.user_id == current_user.id || current_user.roles.admin?) %>
          <br />
          <%= link_to 'Remove film', film_path(film.id), { method: :delete, id: "remove-#{film.id}" } %>
        <% end %>
      </div>
    </div>
  </div>
  <br />
<% end %>
<%== pagy_nav_bootstrap(@pagy) %>
